{% extends 'index.html' %}
{% block content %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>About</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <noscript>
        <link rel="stylesheet" href="/static/css/noscript.css"/>
    </noscript>
        <script src="https://kit.fontawesome.com/2fea303ea5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <div id="process"></div>

    <!-- Navbar -->
    <nav class="navbar sticky-top bd-navbar navbar-expand-lg navbar-light" id="aboutNav">
        <div class="container-fluid ">
            <div class="navbar collapse navbar-collapse justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#header">Petom</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#one">Yolov5</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#two">기대효과</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#three">메뉴설명</a>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <section id="header">
        <div class="inner">
            <h1><strong>PETOM</strong></h1><br>
            <h4>Pet + 피부 질환의 증상 탐(tom)지</h4>
            <p>AI로 반려동물의 피부 질환 증상을 탐지해보세요</p>
        </div>
    </section>

    <!-- One -->
    <section id="one" class="main style1">
        <div class="container">
            <div class="row gtr-150">
                <div class="col-6 col-12-medium">
                    <header class="major">
                        <h2><strong>Yolov5</strong></h2><br>
                        <h4>You Only Look Once</h4>
                    </header>
                    <p>속도 빠름</p>

                    🚀<a class="yolov5 icon-external right" href="https://github.com/ultralytics/yolov5"
                         target="_blank">
                    Yolov5 Github<i class="bi bi-arrow-up-right"></i>
                </a>
                </div>
                <div class="col-6 col-12-medium imp-medium">
                    <span class="image fit"><img src="/static/images/yolov5_logo.png" alt=""></span>
                </div>
            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="main style2">
        <div class="container">
            <div class="row gtr-150">
                <div class="col-6 col-12-medium">
                    <img src="" alt="사진">
                </div>
                <div class="col-6 col-12-medium">
                    <header class="major">
                        <h2><strong>기대효과</strong></h2><br>
                        <h4>기대효과와 한계점</h4>
                    </header>
                    <p>Yolov5의 특성상 작은 물체는 탐지하지 못합니다.</p>
                    <p>다른 모델 쓰면 다른 피부 질환도 탐지 가능할 듯</p>
                    <p>Adipiscing a commodo ante nunc accumsan interdum mi ante adipiscing. A nunc lobortis non nisl
                        amet vis volutpat aclacus nascetur ac non. Lorem curae eu ante amet sapien in tempus ac.
                        Adipiscing id accumsan adipiscing ipsum.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="main style1 special">
        <div class="container">
            <header class="major">
                <h2>페이지 구성</h2>
            </header>
            <p>Petom의 페이지는 이렇게 이루어져 있습니다.</p>
            <div class="row gtr-150">
                <div class="col-3 col-12-medium">
                    <span class="image fit"><img src="/static/images/loading_icon.gif" alt="running cat.gif" height="137" ></span>
                    <h3>로딩 이미지</h3>
                    from <img class="giphy-logo" src="/static/images/giphy-logo.svg" width="16">Giphy
                    <a href="https://giphy.com/gifs/hoppip-cat-hoppip-D5GyCFkInbJlu" target="_blank" class="button">
                        @hoppip</a>
                    <p>모든 저작권은 이미지 제작자에게 있습니다</p>

                </div>
                <div class="col-3 col-12-medium">
                    <span class="image fit"><img src="/static/images/detect_page.jpeg" height="137" alt=""></span>
                    <h3>증상 탐지<a href="detect" class="button"><i class="bi bi-box-arrow-in-right"></i></a></h3>
                    <p>반려동물의 피부 질환 증상을 탐지할 수 있습니다.</p>

                </div>
                <div class="col-3 col-12-medium">
                    <span class="image fit"><img src="/static/images/result_page.jpeg" height="137" alt=""></span>
                    <h3>결과 페이지</h3>
                    <p>업로드한 사진의 탐지 결과를 확인할 수 있습니다</p>

                </div>
                <div class="col-3 col-12-medium">
                    <span class="image fit"><img src="/static/images/hospital_page.jpeg" height="137" alt=""></span>
                    <h3>병원 지도<a href="hospital" id="hospital" class="button"><i
                            class="bi bi-box-arrow-in-right"
                            onclick="loading()"></i></a></h3>
                    <p>전국의 동물 병원을 시각화한 지도로 병원 정보를 얻을 수 있습니다</p>
                </div>

            </div>
        </div>
        <a class="top-button" href="#header">
            <i class="bi bi-arrow-up-circle fa-2x"></i>
        </a>
        <a class="down-button" href="#footer">
            <i class="bi bi-arrow-down-circle fa-2x"></i>
        </a>

    </section>

    <!-- Footer -->
    <section id="footer">
        <ul class="icons">
            <li><a href="https://github.com/YuYeJi-Project/Petom" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a></li>
        </ul>
        <ul class="copyright">
            <li>Design: <a href="http://html5up.net/">HTML5 UP</a></li>
        </ul>
    </section>

    <!-- Scripts -->

    <script defer src="/static/js/browser.min.js"></script>
    <script defer src="/static/js/breakpoints.min.js"></script>
    <script defer src="/static/js/util.js"></script>
    <script defer src="/static/js/main.js"></script>
    <script defer src="/static/js/loading.js"></script>

{% endblock %}